# dependencies
node_modules/

# Next.js
.next/
out/
build/
.swc/

# Logs
logs
*.log
npm-debug.log*

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mac
.DS_Store
